<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.study.mapper.CommentMapper">
    <insert id="addComment" parameterType="com.study.entity.CommentEntity">
        insert into tb_comment(
            module,
            resource_id,
            user_id,
            content,
            status,
            is_delete,
            create_time,
            update_time,
            score,
            star_num
        )values (
                 #{module},
                 #{resourceId},
                 #{userId},
                 #{content},
                 #{status},
                 #{isDelete},
                 #{createTime},
                 #{updateTime},
                 #{score},
                 #{starNum}
                        )
    </insert>
</mapper>
